body {
  background: #fde7bc;
}
#weather-app {
  background: #fff5e3;
  margin: 0 auto;
  max-width: 600px;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: "Outfit", sans-serif;
}
#city-search-input {
  background: #fde7bc;
  width: 300px;
}
.city-search-button {
  background: #ffba2f;
  color: #fde7bc;
  padding: 15px 30px;
  border-radius: 6px;
}
